body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("blk.jpg");
     background-size: cover;
    color: white;

    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

button {
    padding: 10px 22px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.9;
}

button:nth-child(6) {
    background-color: #28a745;
    color: white;
}

button:nth-child(7) {
    background-color: #ffc107;
    color: black;
}

button:nth-child(8) {
    background-color: #dc3545;
    color: white;
}
